
    div{
    margin-top: 60px;
    width: 20px;
    margin-left: 700px;
    }


      .mi-cabeza{
    margin-left: 205px;
    width: 150px;
    text-align: center; 
    }

    .mi-torso{
    width: 260px;
    margin-left: 150px;
    text-align: center; 
    }
    .mi-pierna{
    width: 150px;
    z-index: 1px;
    margin-top: -49px;
    text-align: center; 
    margin-left: 205px;
    }
    
    .mi-div{
     width: 10px;
    text-align: center; 
    }

    h3{
    font-family: 'Dela Gothic One', cursive;
    text-align: center; 
    font-size: 40px;
    color: aliceblue;
    }  

    .mi-container{
    text-align: center;
    }
    p{
        color: aliceblue;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-align: center;
    }

